.bgcolor
{
    background-color: blueviolet;
    opacity: 1;
    border-top: dashed;
    border-color: crimson;
    border-radius: 40px;
    margin-top: auto;
    padding: 30px;
    width: 300px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    background-color: transparent;
    color: blueviolet;
    opacity: 1;
    max-width: 400px;
    text-shadow: 0px 0px 5px blue, 0 0 5px red;
    font-size: 2vw;
    text-align: center;
}
h2:hover
{
    text-shadow: 0 0 7px blue,0 0 7px blue;
    font-size: 2.1vw;
    transition-duration: 1s;

}
body
{
    background-image: url("amongus.jpeg");
    background-size: cover;
    background-attachment: fixed;
}


a
{
    background: red;
    color: blue;
}

a:hover
{
    background: blue;
    color: aliceblue;
    transition: 1s;
}

ul
{
    list-style-position: outside;
    list-style-type: none;
}
ol
{
    list-style-type: lower-alpha;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th
{
    background-color: aqua;
    background: red;
    border: 1px solid blue;
    padding: 2px;
    height: 50px;
}
td
{
    border: 2px solid yellow;
    background-color: transparent;
    text-align: center;
    vertical-align: top;
    padding: 4px;
    color: blue;
}


table
{
    border-radius: 4px;
    border: 6px solid;
    border-color: red;
    width: 50%;
    border-collapse: collapse;
    column-width: 20px;
    padding: 5px;



}
tr:nth-child(even)
{
    background-color: aliceblue;
}
tr:hover
{
    background-color: orange;
}

.divisionclass
{
    max-width: 600px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;

}

span.a
{
    display: inline;
    background-color: red;
    border: 1px solid blue;
    padding: 1px;


}

span.b
{
    display: inline-block;
    height: 156px;
    width: 156px;
    background: red;
    padding: 2px;
    border: 5px solid blue;

}

span.c
{
    display: block;
    height: 50px;
    width: 50px;
    background: red;
    padding: 3px;
    border: 2px solid black;
}
.nav
{
    background-color: rgba(0, 255, 255, 0.411);
    text-align: right;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.nav li
{
    display: inline-block;
    font-size: 20px;
    padding: 35px;
    background: transparent;
    



}
.align
{
    text-align: center;
}

.image
{
    height: 400px;
    margin: auto;
    display: block;



}

.image2
{
    height: 400px;
    position: absolute;
    right: 0;
    opacity: 0.7;
}

.image4
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 3px solid green;
    clear: both;

}

.hoverman
{
    display: none;

}
div.hovern:hover p.hoverman
{
display: block;
}



