*
{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(jupiterhome.jpg);
    background-size: cover;
}

.header
{
    position: fixed;
    background: rgba(98, 16, 109, 0.473);
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.logo
{
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    color: violet;
}

.navbar a{
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;

}
.navbar:hover
{
    text-shadow: 5 5 white;

}